.contactContainer {
  background: linear-gradient(to right, #e6e6e6, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.formHeader h2{
  margin-bottom: 20px !important;
}
.formHeader h2:first-child{
  color: #e63946;
}
.contactContent {
  text-align: center;
}
.formField textarea{
  resize: none !important;
}
#termLabel{
  text-align: center;
}
.contactContent h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
}

.contactContent p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 30px;
}

.contactButtons {
  margin-bottom: 30px;
}

.contactButtons button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactButtons button:hover {
  background-color: #ff6f61;
}

.extraContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.extraContent .feature {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 250px;
  flex: 1;
  margin: 10px;
}

.extraContent .feature img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.extraContent .feature h4 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.extraContent .feature p {
  font-size: 1em;
  color: #555;
}

.contactForm{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contactForm.visible {
  visibility: visible;
  opacity: 1;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formHeader h2 {
  margin: 0;
  color: #333;
}

.closeButton {
  cursor: pointer;
  color: #e63946;
  font-size: 1.5em;
}

.formField {
  margin-bottom: 20px;
}

.formField label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  color: #333;
}

.formField input,
.formField textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1em;
}

.formField textarea {
  height: 100px;
}

.formActions {
  text-align: center;
}

.formActions button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formActions button:hover {
  background-color: #ff6f61;
}
.copyright {
  position: fixed;
  width: 100%;
  background-color: #fece51;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: bold;
  top: 96.2%;
}
@media (max-width: 480px) {
  .copyright{
    top: 96.5% !important;
  }
  .contactContainer{
    height: 100vh;
    overflow-y: scroll;
  }
  .extraContent .feature img{
    width: 100% ;
    height: auto;
  }
  .contactContent h1{
    font-size: 2em;
  }
  .lastFeature {
    margin-bottom: 25px !important;
  }
}